:root {
    --ut-front-react-standardMainLogoWidth: 58px;
    /*colors*/
    --ut-front-react-standardMainNavigationLinkColor: #2281ec;
    --ut-front-react-standardMainNavigationTextColor: #373a3c;
    --ut-front-react-standardMainNavigationBackground: #fff;
}
