@import './default-config.css';
@import 'config.css';

#header {
    height: 58px;
    width: 100%;
    border-bottom: 1px solid #CCCBCB;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(222, 222, 222, 1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(222, 222, 222, 1);
    box-shadow: 0px 2px 3px 0px rgba(222, 222, 222, 1);
    display: table;
    /* fix box-shadow */
    position: relative;
    z-index: 5;
}

#header .headerCell {
    display: table-cell;
    vertical-align: middle;
    height: 58px;
}

#header a {
    padding: 0 10px;
    text-decoration: none;
    color: #BDBDBD;
}

#header input {
    width: 138px;
}

#header #logoWrap {
    width: 16.66666%;
    border-right: 1px solid #E5E4E4;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#header #mainNavigationWrap {
    width: 50%;
}

#header #mainNavigationWrap div, #header #mainNavigationWrap a, div:global(.submenuLink) a {
    color: #595959;
    cursor: pointer;
}

div:global(.submenuLink) {
    text-align: center;
}

div:global(.submenuLink) a {
    padding: 16px 0;
    line-height: 46px;
    text-decoration: none;
}

#header #mainNavigationWrap div:global(.active), #header #mainNavigationWrap a:global(.active) {
    color: var(--ut-front-react-standardMainNavigationLinkColor);
}

#header #searchWrap {
    width: 15.66666%;
    padding-left: 1%;
}

#header #logoWrap a#logo {
    width: 58px;
    height: 58px;
    float: left;
    background: url('./images/logo_pink.png') no-repeat center center;
    margin-right: 10px;
    padding: 0;
}

#header #logoWrap h2 {
    margin-top: 12px;
    float: left;
    font-size: 16px;
}

#header :global(.arrow) {
    display: none;
}

#header :global(.dropdown) {
    background: white;
    border-color: #D7D6D6;
    color: #595959;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#header :global(.dropdownSelect) {
    width: 57px;
}

#header #searchWrap button.dropdown-toggle {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#header #headProfileWrap > div {
    float: right;
    background-repeat: no-repeat;
}

#header #headProfileWrap .tasksWrap {
    width: 17px;
    height: 16px;
    margin-top: 12px;
    background: url('./images/tasks.png');
}

#header #headProfileWrap .profileWrap {
    margin: 3px 5px 0 25px;
    position: relative;
}

#header #headProfileWrap .hidden {
    display: none;
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap {
    width: 332px;
    border: 1px solid #CCCCCC;
    border-top: none;
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 9999;
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .topWrap {
    width: 100%;
    height: 140px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .topWrap #upArrow {
    width: 14px;
    height: 9px;
    position: absolute;
    top: -9px;
    right: 29px;
    background: url('./images/arrow_profile_box.png');
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .topWrap .innerWrap {
    width: 100%;
    height: 100px;
    display: table;
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .topWrap .innerWrap #profileImageWrap {
    width: 100px;
    display: table-cell;
    position: relative;
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .topWrap .innerWrap #profileImageWrap #profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('./images/profile_picture_big.png');
    cursor: pointer;
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .topWrap .innerWrap #profileImageWrap:hover .changeButton {
    opacity: 1;
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .topWrap .innerWrap #profileImageWrap .changeButton {
    width: 100px;
    height: 100px;
    opacity: 0;
    background: red;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    padding-top: 70px;
    bottom: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+44,000000+100&0+46,0.69+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 44%, rgba(0, 0, 0, 0) 46%, rgba(0, 0, 0, 0.69) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 44%,rgba(0, 0, 0, 0) 46%,rgba(0, 0, 0, 0.69) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 44%,rgba(0, 0, 0, 0) 46%,rgba(0, 0, 0, 0.69) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b0000000', GradientType=0 ); /* IE6-9 */
    transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s; /* Safari */
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .topWrap .innerWrap #infoWrap {
    width: auto;
    display: table-cell;
    padding-left: 20px;
    vertical-align: top;
    overflow: hidden;
    text-align: left;
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .topWrap .innerWrap #infoWrap .longDOttedText {
    width: 172px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .topWrap .innerWrap #infoWrap .fullName {
    color: #595959;
    font-weight: bold;
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .topWrap .innerWrap #infoWrap .email {
    margin-top: -2px;
    color: #989898;
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .topWrap .innerWrap #infoWrap .roles {
    margin-top: 5px;
    color: #014c8c; /* is this used somewhere? */
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .topWrap .innerWrap #infoWrap .myAccountBtnWrap {
    margin-top: 10px;
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .bottomWrap {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    overflow: hidden;
    border-top: 1px solid #CCCCCC;
    background: #F5F3F2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#header #headProfileWrap .profileWrap #headProfileInfoWrap .bottomWrap .button {
    float: right;
}

#header #headProfileWrap .profileWrap .image {
    width: 26px;
    height: 26px;
    background-image: url('./images/profile_picture.png');
    background-size: 26px 26px;
    background-repeat: no-repeat;
    float: left;
}

#header #headProfileWrap .profileWrap .username {
    margin: 2px 7px;
    float: left;
}

#header #headProfileWrap .profileWrap .arrow {
    width: 14px;
    height: 14px;
    margin-top: 7px;
    float: left;
    background: url('./images/arrow_black_base.png') no-repeat;
    background-size: 14px 14px;
}

#header #headProfileWrap img {
    float: right;
    width: 98px;
}

#header .nameWrap {
    float: right;
    margin: 5px 4px 0 8px;
}

.version {
    display: inline-block;
    margin-top: 28px;
    margin-left: 10px;
}

#header #headProfileWrap .navigationExpandMoreIcon {
    background: url('./images/arrow_black_base.png') no-repeat 36px 8px;
    overflow: hidden;
    padding-right: 21px;
    display: block;
    cursor: pointer;
}

#header #headProfileWrap .helpWrap {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 20px;
    background: url('./images/help.png');
    background-repeat: no-repeat;
    cursor: pointer;
}