@import './default-config.css';
@import 'config.css';

.header {
    height: 58px;
    width: 100%;
    border-bottom: 1px solid #CCCBCB;
    box-shadow: 0px 2px 3px 0px rgba(222, 222, 222, 1);
    display: table;
    /* fix box-shadow */
    position: relative;
    z-index: 5;
    color: var(--ut-front-react-standardMainNavigationTextColor);
    background: var(--ut-front-react-standardMainNavigationBackground);
}

.headerCell {
    display: table-cell;
    vertical-align: middle;
    height: 58px;
    width: 16.66666%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.headerCellCenter a {
    padding: 0 10px;
    text-decoration: none;
    color: #BDBDBD;
}
.headerCellCenter a:hover {
    color: var(--ut-front-react-standardMainNavigationTextHoverColor);
}

.headerCellCenter input {
    width: 138px;
}

.headerCellCenter {
    width: 50%;
}

.headerCellCenter div, .headerCellCenter a {
    cursor: pointer;
    color: var(--ut-front-react-standardMainNavigationTextColor);
}

/*.headerCellCenter div:global(.active), .headerCellCenter a:global(.active) {
    color: #E30474;
}*/

/*div:global(.submenuLink) {
    text-align: center;
}

div:global(.submenuLink) a {
    cursor: pointer;
    color: #595959;
    padding: 16px 0;
    line-height: 46px;
    text-decoration: none;
}*/

#headerCellProfile .helpWrap {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 20px;
    background: inline('help.png');
    background-repeat: no-repeat;
    cursor: pointer;
}

.headerCellProfile > div {
    float: right;
    background-repeat: no-repeat;
}

.headerCellProfileWrap {
    margin: 3px 5px 0 25px;
    position: relative;
}
