@import './default-config.css';
@import 'config.css';

.tabMenuWrap.selected,
.tabMenuWrap:hover.selected {
    color: var(--ut-front-react-standardTabTextSelectedColor);
}

.tabNavbar {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--ut-front-react-standardTabNavbarBackgroundColor);
    border-bottom: 1px solid var(--ut-front-react-standardTabNavbarBorderColor);
    padding: 0;
    margin: 0;
}

.tabMenuWrap {
    position: relative;
    background: var(--ut-front-react-standardTabMenuBackgroundColor);
    display: inline-block;
    border-right: 1px solid var(--ut-front-react-standardTabNavbarBorderColor);
    cursor: pointer;
}
.tabMenuWrap {
    color: var(--ut-front-react-standardTabMenuTextColor);
}
.tabMenuWrap:hover {
    text-decoration: none;
    /*background: var(--ut-front-react-standardTabHoverBackgroundColor);*/
}
.tabMenuWrap.selected {
    background: var(--ut-front-react-standardTabSelectedBackgroundColor);
    color: var(--ut-front-react-standardTabTextSelectedColor);
    text-decoration: none;
}
.tabMenuWrap:hover.selected {
    color: var(--ut-front-react-standardTabTextSelectedColor);
}
.tabMenuWrap .tabMenu {
    padding: 10px 29px 10px 10px;
}
.selected:after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: -1px;
    background: var(--ut-front-react-standardTabSelectedBackgroundColor);
    height: 1px;
}

.tabItem {
    display: inline-block;
    position: relative;
}

.tabItem .errorCountBox {
    width: 20px;
    height: 20px;
    padding-top: 1px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 18px;
    right: 2px;
    background: var(--ut-front-react-standardTabErrorBoxBackgroundColor);
    color: var(--ut-front-react-standardTabErrorBoxTextColor);
}

.tabItem .errorCountBox .innerErrorCountBox {
    width: 100%;
    text-align: center;
}

.tabNavbar {
    margin-bottom: 0;
    background: var(--ut-front-react-standardTabSelectedBackgroundColor);
    border-bottom: none;
    text-transform: uppercase;
    padding: 0;
}
.tabMenuWrap {
    background: var(--ut-front-react-standardTabSelectedBackgroundColor);
    border-right: none;
    border-bottom: 3px solid var(--ut-front-react-standardTabSelectedBackgroundColor);
    display: inline-block;
    letter-spacing: -0.02em;
    cursor: pointer;
}
.selected {
    /*background: rgba(0,0,0,0);*/
    color: var(--ut-front-react-standardTabSelectedColor);
    border-bottom-color: var(--ut-front-react-standardTabSelectedBorderColor);
}
.tabMenuWrap .tabMenu {
    padding: 18px 35px 15px; 
}