@import '../default-config.css';
@import 'config.css';

.headerCellLogoLink {
    width: var(--ut-front-react-standardMainLogoWidth);
    height: 58px;
    float: left;
    background: inline('./images/logo.png') no-repeat center center;
    margin-right: 10px;
    padding: 0;
	margin-left: 20px;
}

.headerCellLogoH2 {
    margin-top: 12px;
    float: left;
    font-size: 16px;
    font-weight: bold;
}

.headerCellLogoVersion {
    display: inline-block;
    margin-top: 28px;
    margin-left: 10px;
}