.rangeWrap,
.wrapper {
    float: left;
}

.separator {
    display: inline-block;
    margin: auto 10px;
    line-height: 30px;
    font-size: 20px;
}

.hh {
    height: 0 !important;
}

.errorWrap {
    float: left;
    height: 23px;
    overflow: hidden;
    font-size: 12px;
    -webkit-transition: all 0.6s; /* Safari */
    transition: all 0.6s;
}

.errorWrap .errorMessage {
    color: #ff3333;
    margin: 5px 0 0;
}

.textRangeWrap {
    width: 100%;
}
.textWrapper {
    display: flex;
}
.textRangeSeperator {
    width: 50%;
}
.labelWrapper {
    margin-right: 20px;
}
.toLabelWrapper {
    text-align: center;
    position: relative; 
}
