.ipInput {
    display: inline-block;
    border: 1px solid #D6D6D6;
    padding: 3px 8px;
}

.ipInput .ipInputItem {
    display: inline-block;
}

.ipInput.error {
    border-color: #ff3333;
}

.ipInput input {
    width: 30px;
    border: none;
    outline: none;
    text-align: center;
}

.hh {
    height: 0 !important;
}

.errorWrap {
    height: 23px;
    overflow: hidden;
    font-size: 12px;
    -webkit-transition: all 0.6s; /* Safari */
    transition: all 0.6s;
}

.errorWrap .errorMessage {
    color: #ff3333;
    margin: 5px 0 0;
}
