.ipInput {
    display: inline-block;
    border: 1px solid #D6D6D6;
    padding: 3px 8px;
}

.ipInput .ipInputItem {
    display: inline-block;
}

.ipInput.error {
    border-color: #f33;
}

.ipInput input {
    width: 30px;
    border: none;
    outline: none;
    text-align: center;
}
