.headerGlobalMenuFieldControl, .headerGlobalMenuFieldControlContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 15px;
    line-height: 32px;
}
.headerGlobalMenuField {
    width: 50px;
    text-align: right;
}

.headerGlobalMenuPopoverWrap {
   max-height: 50% !important;
}
.headerGlobalMenuItemWrap>div>span {
    display: flex !important;
    align-items: center;
}