@import './default-config.css';
@import 'config.css';

.selectDialogWrapper {
    width: 400px;
}

.searchInputWrapper {
    margin-bottom: 30px;
}

.unitsContainer {
    height: 250px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #c5c8cc;
    padding: 5px;
}

.UnitsMessage {
    padding: 10px 0 5px 0;
    cursor: default;
}

.UnitBox {
    padding: 0px 10px;
    border: 1px solid var(--ut-user-standardUnitBoxColor);
    border-radius: 3px;
    color: var(--ut-user-standardUnitBoxColor);
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}