@import './default-config.css';
@import 'config.css';

.formError {
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorMessage {
    line-height: 18px;
    text-align: center;
    font-size: 16px;
    color: var(--ut-front-react-formErrorMsgColor);
}
