@import './default-config.css';
@import 'config.css';

.formError {
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconWrapper {

}

.errorMessage {
    color: var(--ut-front-react-formErrorMsgColor);
    font-size: 28px;
    line-height: 28px;
}
