node_modules
node_modules/**/*
*.log
.projectile
.tern-project
Logs/*.log
*/templates/*.js
doc/~*
package-lock.json
cobertura
.env
.eslintcache
.history
.idea
.lint
.next
.node_repl_history
.npm
.nyc_output
.tern*
.ut_*
.yarn-integrity
*.marko.js
bin/impl-*
bin/package.json
coverage
dev
dist
node_modules
npm-debug.*
yarn.lock
.scannerwork
