@import './default-config.css';
@import 'config.css';

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.formInput {
    /* default input styles*/
    box-sizing: border-box;
}

.loginInput {
    composes: formInput;
    position: relative;
    margin-bottom: 15px;
}

.loginInput input {
    padding: 14px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--ut-front-react-loginInputBorderColor);
    outline: none;
    cursor: default;
}

.loginInput.hasValue input {
  border: 1px solid var(--ut-front-react-loginInputBorderColor);
}

.loginInput input:focus {
    border: 1px solid var(--ut-front-react-loginInputFocusedBorderColor);
}

.label {
    position: absolute;
    top: 50%;
    left: 10px;
    padding: 0 5px;
    margin: 0 !important;
    font-size: 11px;
    font-weight: 700;
    color: var(--ut-front-react-loginInputLabelColor);
    text-transform: uppercase;
    opacity: 0.5;
    transition: top .3s ease;
    transform: translateY(-50%);
}

.loginInput.hasValue label,
.loginInput input:focus~label,
.loginInput.hasError label{
    top: 0;
    left: 10px;
    padding: 0 5px;
    opacity: 1;
    background: var(--ut-front-react-loginInputLabelBackgroundColor);
}

.loginInput.disabled input {
    color: var(--ut-front-react-loginInputBorderColor);
    background-color: var(--ut-front-react-loginInputLabelBackgroundColor);
}

.loginInput.disabled .label {
    color: var(--ut-front-react-loginInputBorderColor);
}

.loginInput.hasError {
    margin-bottom: 0;
}

.loginInput.hasError input {
    border: 1px solid #E84949;
}

.errorMessage {
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #E84949;
}
