@import './default-config.css';
@import 'config.css';

.formInput {
    /* default input styles*/
    box-sizing: border-box;
}

.loginInput {
    composes: formInput;
    position: relative;
    margin-bottom: var(--ut-front-react-loginInputMarginBottom);
    height: var(--ut-front-react-loginInputHeight);
}

.loginInput input {
    padding: var(--ut-front-react-loginInputPadding);
    width: 100%;
    height: 100%;
    border: 1px solid var(--ut-front-react-loginInputBorderColor);
    outline: none;
    cursor: default;
}

.loginInput input:focus {
    border: 1px solid #4f9efc;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.loginInput.hasError input,
.loginInput.hasError input:focus {
    border: 1px solid #ff4d4d;
}

.label {
    position: absolute;
    left: 10px;
    margin: 0 !important;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #626262;
    text-transform: uppercase;
    opacity: 0.5;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    top: 0;
    transform: translateY(90%);
}

.loginInput input:focus~label {
  opacity: 1;
  background: white;
  top: -25px;
  padding: 0 5px;
}
