tr.gridBodyTr {
    cursor: pointer;
    border-bottom: 1px solid inherit;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.noResultRow {
    text-align: center;
}
