tr.isOdd {
    background: #ececec;
}

tr.gridBodyTr {
    background: #FFFFFF;
    cursor: pointer;
    border-bottom: 1px solid inherit;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

tr.gridBodyTr.checked {
    background: #fafbd6;
}

tr.gridBodyTr:nth-child(2n) {
    background: #F7F7F7;
}

tr.gridBodyTr:hover {
    background: #F7F7F7;
}

tr.gridBodyTr.checked:hover {
    background: #fafbd6;
}

tr.gridBodyTr.checked:nth-child(2n) {
    background: #fafbd6;
}

.noResultRow {
    text-align: center;
}
