@import './default-config.css';
@import 'config.css';

.toolbarWrap,
.innerGrid {
    display: grid;
    margin: auto;
    grid-template: 1fr / 1fr 4fr;
    border: 1px solid slateblue;
    width: 100%;
    overflow: hidden;
}

.fixedHeight {
    margin: auto;
    min-height: 55px;
    height: auto;
}

.toolbarWrap .toolbarElement {
    padding-right: 20px;
    display: flex;
}

.toolbarWrap .toolbarElement:last-child {
    padding-right: 0;
}

.toolbarWrap .label {
    text-align: left;
    margin: auto;
    white-space: nowrap;
}

.toolbarWrap .link {
    color: var(--ut-front-react-standardGridToolBoxToolbarWrapLinkColor);
    cursor: pointer;
    text-decoration: none;
}

.toolbarWrap .link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.toolbarWrap .minWidthed {
    min-width: 240px;
    max-width: 450px;
    width: 100%;
}

.toolbarWrap .pullRight {
    text-align: right;
}

.toolbarWrap .noRightMargin {
    margin-right: 0;
}

.toolbarWrap .closeArrow, .advancedSearchIcon, .searchIcon {
    width: 30px;
    height: 30px;
    border: 1px solid var(--ut-front-react-standardGridToolBoxBorderColor);
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.toolbarWrap .closeArrow {
    background-color: var(--ut-front-react-standardGridToolBoxCloseArrowBackgroundColor);
    background-image: url('./images/clearfilters-arrow.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.advancedSearchIconWrapper {
    width: 30px;
    height: 30px;
}

.advancedSearchIcon {
    background-color: var(--ut-front-react-standardGridToolBoxAdvancedSearchIconBackgroundColor);
    display: flex;
}

.barWrap {
    width: 60%;
    margin: auto;
}

.barWrap .bar {
    border-top: 2px solid white;
    width: 100%;
    margin-bottom: 3px;
}

.barWrap .bar:last-child {
    margin-bottom: 0;
}

.searchIcon {
    background-color: var(--ut-front-react-standardGridToolBoxAdvancedSearchIconBackgroundColor);
    background-image: url('./images/search.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.toolbarWrap .closeArrow:hover {
    background-color: var(--ut-front-react-standardGridToolBoxCloseArrowHoverBackgroundColor);
}

.toolbarWrap .leftFloat {
    text-align: left;
}

.advancedSearchPopOver {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 5px;
    background-color: var(--ut-front-react-standardGridToolBoxAdvancedSearchBackgroundColor);
    border: 1px solid var(--ut-front-react-standardGridToolBoxAdvancedSearchBorderColor);
    z-index: 1;
    padding: 5px;
    text-align: left;
}

.advancedSearchIcon:hover ~ .advancedSearchPopOver{
    visibility: visible;
}

.advancedSearchInputWrapper {
    width: 70%;
    text-align: left;
    margin: 5px auto;
}

.advancedSearchDialog {
    width: 40%;
}

.bold {
    font-weight: bold;
}

.spacer {
    padding-right: 10px;
}

.space:last-child {
    padding-right: 0px;
}

.multiselectDropdownPlaceholder {
  max-width: 240px;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  margin-top: 3px;
}

@media (max-width: 400px) {
    .toolbarWrap {
        grid-template: 1fr 2fr/ 1fr;
    }
    .toolbarWrap .toolbarElement {
        padding-right: 0px;
    }
    .toolbarWrap .minWidthed {
        min-width: 150px;
        width: 100%;
    }
}