.dropdownWrap {
    width: 100%;
    position: relative;
    border: 1px solid;
    border-color: #EBEBEB;
    height: 30px;
    text-align: left;
}

.dropdownWrap div {
    margin: 0 !important;
    line-height: 26px !important;
    border: none !important;
    color: inherit !important;
}

.dropDownRoot {
    width: 100% !important;
    height: 28px !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 1px 38px 1px 10px !important;
    min-width: 360px;
}