:root {
    --ut-front-react-defaultOverlayColor: #050505;
    --ut-front-react-popupColor: #FFF;
    --ut-front-react-popupSectionColor: #F5F5F5;
    --ut-front-react-popupSectionBorderColor: #D7D6D6;
}
