.modalContainer {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.popupContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 768px;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    z-index: 22;
}

.headerText {
    margin-left: auto;
}

.popupSection {
    display: flex;
    align-items: center;
    height: 50px;
    padding-right: 12px;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

.popupHeader {
    font-size: 18px;
    border-bottom: 1px solid #D7D6D6;
}

.popupFooter {
    border-top: 1px solid #D7D6D6;
}

.closeBtn {
    width: 30px;
    height: 30px;
    margin-left: auto;
}

.closePopupBtn {
    width: 85px;
    height: 40px;
    margin-left: auto;
}

.popupBody {
    display: flex;
    justify-content: center;
}

.defaultOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #050505;
    opacity: 0.5;
    z-index: 21;
}
