@import './default-config.css';
@import 'config.css';

.searchBoxWrap {
    width: 100%;
    position: relative;
    font-weight: normal;
}
.searchBox {
    position: relative;
    width: 70%;
    border: 1px solid var(--ut-front-react-standardAutoCompleteSearchBorderColor);
    font-weight: normal;
    display: inline-block;
}

.searchBox.error {
    border-color: #ff3333 !important;;
}

.searchBox.searchBoxNoLabel {
    width: 100%;
}

.searchBoxWrapInput {
    width: 100%;
    padding: 0px 36px 0px 10px;
    border: none;
    height: 28px;
    background-color: transparent;
}

:global(html[dir='rtl']) .searchBoxWrapInput {
    padding: 0px 10px 0px 36px;
}

.searchBoxWrap .label {
    display: inline-block;
    width: 30%;
    font-size: 14px;
    color: #595959;
}

.searchBoxWrap .label.boldLabel {
    font-weight: bold;
}

.searchBoxWrap button {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    border: none;
    background: var(--ut-front-react-standardSearchBoxColor);
    background-image: url('./images/search.png');
    background-repeat: no-repeat;
    background-position: center center;
}

:global(html[dir='rtl']) .searchBoxWrap button {
    right: initial;
    left: 1px;
}

.errorWrap {
    overflow: hidden;
    font-size: 12px;
    -webkit-transition: all 0.6s; /* Safari */
    transition: all 0.6s;
    display: block;
    width: 70%;
    height: 22px;
    margin-left: 30%;
}

.errorWrap .errorMessage {
    color: #ff3333;
    margin-top: 5px;
}

.errorWrap.hh {
    height: 0 !important;
}
