:root {
    /*colors*/
    --ut-user-standardTabContainerNavigationButtonHoverColor: #2881ec;
    --ut-user-standardTabContainerNavigationButtonTextColor: #2881ec;
    /*--ut-user-standardTabContainerNavigationButtonPrevHoverImage: url('./images/arrow_btn_l_hover.png');
    --ut-user-standardTabContainerNavigationButtonNextHoverImage: url('./images/arrow_btn_r_hover.png');*/
}