.girdOrderHeadingStyle {
    padding-right: 10px;
}
.girdOrderHeadingStyleASC {
    width: 8px;
    height: 8px;
    margin-left: 3px;
    margin-top: 7px;
    cursor: pointer;
    display: inline-block;
    background-image: url('./images/arrow.png');
    background-repeat: no-repeat;
}
.girdOrderHeadingStyleDESC {
    width: 8px;
    height: 8px;
    margin-left: 3px;
    margin-top: 7px;
    cursor: pointer;
    display: inline-block;
    background-image: url('./images/arrow.png');
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-repeat: no-repeat;
}

.gridHeaderTr {
    background: #F9F9F9;
    border-bottom: 1px solid #D7D6D6;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
.gridHeaderTr .thTitle {
    cursor: pointer;
    display: inherit;
}
.girdHeading {
    background: #F9F9F9;
}
.girdHeading {
    position: relative;
    padding: .75rem;
}
.gridHeaderTrSpanColumnContentless, .gridHeaderTrSpanColumnNotLast, .gridHeaderTrSpanColumnNotLast.gridHeaderTrSpanColumnContentless{
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #D7D6D6;
    background: #eaeaea;
}
.gridHeaderTrSpanColumnContentless, .gridHeaderTrSpanColumnNotLast{
    text-decoration: underline;
}
.gridHeaderTrSpanColumnContentless {
    border: none;
    text-decoration: none;
}

.gridHeadingInner {
    display: flex;
}