.verticalWrapper {
    width: 100%;
    height: 100%;
}

.vertical {
    overflow: hidden;
    width: 100%;
}

.innerContent {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-device-width: 280px) and (max-device-width:  1365px) {
  .innerContent {
    overflow: auto;
  }
}
