@import './default-config.css';
@import 'config.css';

.loginForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: var(--ut-front-react-loginFormMargin);
    border: 1px solid black;
    width: var(--ut-front-react-loginFormWidth);
    height: var(--ut-front-react-loginFormHeight);
    box-sizing: border-box;
}
