.selectWithArrowWrap {
    width: 100%;
    height: 30px;
    display: inline-block;
    border: 1px solid #D7D6D6;
    position: relative;
    cursor: pointer;
    background: #ffffff;
}

.selectWithArrowWrap button {
    width: 100%;
    height: 35px;
    border: none;
    padding-left: 10px;
    padding-right: 55px;
    text-align: left;
}

.selectWithArrowWrap .arrowWrap {
    width: 26px;
    height: 26px;
    float: right;
    display: block;
    background: #E93591;
    text-align: center;
    margin: 1px 1px 0 0;
    position: absolute;
    right: 0px;
}

.selectWithArrowWrap .defaultSelection {
    float: left;
    display: block;
    margin: 6px 0 0 7px;
}

.selectWithArrowWrap .arrowWrap img {
    margin-top: 2px;
}

.error {
    border-color: #ff3333 !important;
}

.hh {
    height: 0 !important;
}

.errorWrap {
    height: 23px;
    overflow: hidden;
    font-size: 12px;
    -webkit-transition: all 0.6s; /* Safari */
    transition: all 0.6s;
}

.errorWrap .errorMessage {
    color: #ff3333;
    margin: 5px 0 0;
}

.label {
    float: left;
    width: 30%;
    margin: 5px 4% 0 0;
    text-align: right;
}
.dropDownWrap {
    width: 66%;
    float: left;
}

.dropDownWrap.noLabel {
    width: 100%;
    float: none;
}