@import './default-config.css';
@import 'config.css';

.simpleToolbox {
    display: none;
}
.simpleToolbox.opened {
    display: flex;
    height: 100%;
}
.simpleToolbox .label, .simpleToolbox .link {
    margin: auto auto auto 0;
    min-width: 5%;
    flex-basis: auto;
}
.simpleToolbox .link {
    cursor: pointer;
    color: var(--ut-front-react-standardToolboxLinkColor);
}
.simpleToolbox .link:hover {
    text-decoration: underline;
}
.simpleToolbox .content {
    margin: auto 0 auto auto;
    width: 94%;
    flex-basis: auto;
}