@import './default-config.css';
@import 'config.css';

.simpleToolbox {
    display: none;
}
.simpleToolbox.opened {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #fff;
}
.buttonsOpened {
    justify-content: space-between;
}
.simpleToolbox .label,
.simpleToolbox .link {
    text-align: left;
    margin-right: 20px;
    min-width: 90px;
}
.simpleToolbox .link {
    cursor: pointer;
    color: var(--ut-front-react-standardToolboxLinkColor);
}
.simpleToolbox .link:hover {
    text-decoration: underline;
}
.simpleToolbox .content {
}
