@import './default-config.css';
@import 'config.css';

.outerWrap, .outerWrapNoLabel, .innerWrap, .inputWrap, .labelWrap {
    display: flex;
}

.outerWrap, .outerWrapNoLabel {
    margin-bottom: 5px;
}
.outerWrap {
    justify-content: space-between;
    color: #595959;
}

.outerWrapNoLabel {
    justify-content: flex-end;
}

.innerWrap {
    width: 70%;
    justify-content: flex-end;
}

.labelWrap {
    width: 30%;
    font-size: 14px;
    text-align: left;
    align-items: center;
}

.boldLabel {
    font-weight: bold;
}

.inputWrap {
    border: 1px solid #D7D6D6;
}

.inputWrap input {
    width: 85%;
    padding: 4px 36px 4px 10px;
    border: none;
    height: 28px;
}

.inputWrap button.dateButton, .inputWrap button.timeButton {
    width: 26px;
    height: 26px;
    position: relative;
    top: 1px;
    right: 1px;
    border: none;
    background: var(--ut-front-react-standardDateTimePickerBackgroundColor);
    background-repeat: no-repeat;
    background-position: center center;
}

.inputWrap button.dateButton {
    background-image: url('./images/calendar.png');
    right: 0;
}

.inputWrap button.timeButton {
    background-image: url('./images/calendar.png');
}