@import './default-config.css';
@import 'config.css';

.title {
    color: var(--ut-front-react-titleTextColor);
    text-align: center;
}

.loginTitle {
    composes: title;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 14px;
}

.error {
    margin-bottom: 30px;
}
