@import './default-config.css';
@import 'config.css';

.title {
    color: var(--ut-front-react-titleTextColor);
    text-transform: uppercase;
    text-align: center;
}

.loginTitle {
    composes: title;
    flex-basis: var(--ut-front-react-loginTitleHeight);
    line-height: var(--ut-front-react-loginTitleHeight);
    margin-bottom: var(--ut-front-react-loginMarginBottom);
}
