@import './default-config.css';
@import 'config.css';

.loginOpen {
    height: 100%;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loginLogo {
    width: var(--ut-front-react-loginLogoWidth);
    height: var(--ut-front-react-loginLogoHeight);
}

.loginPageHeader {
    margin-top: auto;
    margin-bottom: auto;
    background: inline('logoTop.png') no-repeat center;
}

.loginPageFooter {
    margin-top: auto;
    margin-bottom: auto;
    background: inline('logoBottom.png') no-repeat center;
}
