@import './default-config.css';
@import 'config.css';

.loginContainer {
    display: flex;
    position: absolute;
    top: var(--ut-front-react-loginContainerTop);
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-50%);
}

.loginLogo {
    width: var(--ut-front-react-loginLogoWidth);
    height: var(--ut-front-react-loginLogoHeight);
}

.loginPageHeader {
    margin-bottom: 55px;
    background: inline('topLogo.png') no-repeat center;
}

.loginPageFooter {
    margin-top: 55px;
    background: inline('bottomLogo.png') no-repeat center;
}

.loginPageFooterUSP {
    margin-top: 55px;
    background: inline('bottomLogoUSP.png') no-repeat center;
}