@import './default-config.css';
@import 'config.css';

.dashboardBg {
    margin: 150px auto 0;
    width: var(--ut-front-react-standardDashboardLogoWidth);
    height: var(--ut-front-react-standardDashboardLogoHeight)
}

.dashboardImg {
    background: inline('dashboard_admin.png');
}

.dashboardText {
    display: block;
    text-align: center;
    margin: 25px 0 0 0;
}
