.autoComplete {
    width: 100%;
    height: 30px;
    position: relative;
}

.autoComplete input {
    padding-right: 32px !important;
    padding-left: 5px !important;
    width: 100%;
    height: 30px !important;
}

.autoComplete hr {
    display: none !important;
    width: 0;
    margin: 0;
    padding: 0;
}

.autoCompletePopup {
    height: 30px !important;
}
.autoCompleteIcon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 26px;
    width: 26px;
    margin: 2px;
    background: #E93591;
    background-image: url('./images/search.png');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    z-index: 1;
}