/*for horizontal orientation*/
.borderedHorizontalOrientation > div{
    border-bottom: 2px solid #E7E7E7;
}

.borderedHorizontalOrientation > div:nth-child(2n){
    border-left: 2px solid #E7E7E7;
}

.borderedHorizontalOrientation:last-child > div {
    border-bottom: 0px;
}

/*for vertical orientation*/
.borderedVerticalOrientation {
    border-bottom: 2px solid #E7E7E7;
}

.borderedVerticalOrientation > div:first-child{
    border-bottom: 2px solid #E7E7E7;
}

.borderedVerticalOrientation:nth-child(2n) {
    border-left: 2px solid #E7E7E7;
}

.borderedVerticalOrientation:nth-last-child(2) {
    border-bottom: 0px;
}

.borderedVerticalOrientation:last-child {
    border-bottom: 0px;
}

.keyCell {
    background-color: #FFFFFF;
    border-top: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    font-weight: bold;
    line-height: 14px !important;
    padding: 20px 27px;
}

.valueCell {
    background-color: #FFFFFF;
    border-top: 1px solid #E6E6E6;
    /* border-left: 1px solid #E6E6E6;*/
    line-height: 14px !important;
    padding: 20px 27px;
}
