:root {
    /*colors*/
    --ut-front-react-standardCompareGridNewUserTextColor: #2881ec;
    --ut-front-react-standardCompareGridBackgroundColor: #fff;
    --ut-front-react-standardCompareGridRejectTextColor: #2881ec;
}
