@import '../Grid/default-config.css';
@import 'config.css';
.headerGlobalMenuFieldControl, .headerGlobalMenuFieldControlContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    font-size: 15px;
    line-height: 32px;
}
.headerGlobalMenuField {
    width: .1%;
    text-align: right;
}

.headerGlobalMenuPopoverWrap {
   max-height: 50% !important;
}
.headerGlobalMenuItemWrap>div>span, .menuItem >div>span, .columnWrap>div>span {
    display: flex !important;
    align-items: center;
    min-height: 32px !important;
}
.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 12px 0 4px;
}
.refreshIcon {
    background-image: url('./images/refresh.png');
}
.iconLabel {
    width: 80%;
}
.menuLabel {
    opacity: 0.7;
    padding: 2px 7px;
    margin-left: 15px;
}
.refreshContainer {
    border-bottom: 1px solid var(--ut-front-react-standardGridTableBorderColor);
    height: 32px;
    overflow: hidden;
}
.columnWrap {
    display: block;
}
