.customSearchDropdown {
    float: left;
    width: 45%;
    background-color: #F4F4F4;
}

.customSearchDropdown svg {
    background-color: transparent;
    fill: #000 !important;
}

.customSearchTextField {
    float: left;
    width: 55%;
}