/* Common */
body {
    font-size: 14px;
    /*background: #f2f2f2;*/
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.clear {
    overflow: hidden;
}
.table {
    display: table;
    margin-bottom: 0;
}
.tableCell {
    display: table-cell;
}
.vaTop {
    vertical-align: top;
}
.vaMiddle {
    vertical-align: middle;
}
.btn {
    border-radius: 0; /* do not override bootstrap classes but create new ones - this brings me so much problems, thanks */
}
.input {
    padding: 0 10px;
    height: 38px;
}
button.button {
    background: #F4F4F4 !important;
    border: 1px solid #CCCCCC;
    color: #444444 !important;
    text-transform: none !important;
    padding: 4px 20px;
    font-size: 1em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
button.border, input.border {
    border:  none;
}
button.colored {
    background: #E93491 !important;
    color: white !important;
    border-color: #E93491 !important;
}
input.border.left, button.border.left {
    border-left:  1px solid #ccc;
}
input.border.right, button.border.right {
    border-right:  1px solid #ccc;
}
input.border.top, button.border.top {
    border-top:  1px solid #ccc;
}
input.border.bottom, button.border.bottom {
    border-bottom:  1px solid #ccc;
}
.w100pr {
    width: 100%;
}
.h100pr {
    height: 100%;
}
.w10pr {
    width: 10%;
}
.w2cols {
    width: 16.6666%;
}
.wAuto {
    width: auto;
}
.w20 {
    width: 20px;
    display: inline-block;
}
.maxWidth2cols {
    max-width: 16.6666%;
}
.width2cols {
    width: 16.666666%;
    max-width: 16.66666%;
}
.boxSizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: OpenSans;
    src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: OpenSans;
    src: url('./fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: exo2;
    src: url('./fonts/Exo2-Regular.ttf') format('truetype');
    font-weight: 600;
}

/* Profile Components */
.profileCmpntWrap {
    width: 112px;
    display: table;
    cursor: pointer;
}
.profileCmpntWrap:hover .text {
    color: #0058A6;
}
.profileCmpntWrap:hover .icon {
    background: #0058A6;
}
.profileCmpntWrap .text {
    width: 75px;
    padding-right: 7px;
    text-align: right;
    font-size: 0.8em;
    line-height: 1.3em;
}
.profileCmpntWrap .icon {
    width: 30px;
    height: 30px;
    background: red;
}

.collapsedContainer {
    width: 30px;
}

/* Menu component */
.menuItem {
    font-size: 16px;
    font-family: Roboto, Arial;
}
.nav-item.dropdown.open .nav-link.active, .nav-item.dropdown.open .nav-link {
    color: inherit;
    background-color: inherit;
}
.dropdown-menu {
    background-color: #CCCCCC;
    padding: 2px 2px;
}
.dropdown-menu .dropdown-item {
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dropdown-menu .dropdown-item.dropdown-submenu {
    padding: 0;
}
.dropdown-menu, .dropdown-header, .dropdown-divider {
    margin: 0;
}
.dropdown-submenu {
    position: relative;
    padding: 0;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>button:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>button:after {
    border-left-color: #ccc;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.navigationButton {
    background-color: transparent;
    color: #E83591;
    border: none;
    font-weight: bold;
    padding: 10px;   
}

.navigationButtonPrev {
    border-right: 1px solid #DBDBDB;
}

.navigationButtonNext {
    border-left: 1px solid #DBDBDB;
}

.navigationButtonNext:after {
    content: '>';
    margin-left: 10px;
}

.navigationButtonPrev:before {
    content: '<';
    margin-right: 10px;
}

ui.nav.nav-tabs li.nav-item.nav-tab {
    border-radius: 0;
    border-left: none;
    margin-left: 0;
}

.selectWrap {
    margin: 25px 0;
}

.contentTableWrap {
    min-width: 800px;
    height: 100%;
    width: 100%;
    background: #f2f2f2;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
 .actionBarWrap {
     width: 100%;
     height: 55px;
     padding: 0 20px 0;
     background: #fff;
     border-bottom: 1px solid #D7D6D6;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     text-align: center;
     z-index: 1;
 }
.contentTableWrap .actionBarWrap .textWrap {
    color: #566591;
    font-weight: bold;
    margin-top: 7px;
}
.contentTableWrap .actionBarWrap .link {
    text-decoration: underline;
    color: black;
    font-weight: normal;
    cursor: pointer;
}
.contentTableWrap .actionBarWrap .buttonsWrap {
    text-align: right;
}
.contentTableWrap .actionBarWrap .moreButtonWrap {
    display: inline-block;
}
.contentTableWrap .actionBarWrap .moreButtonWrap button {
    padding: 3px 20px 2px 20px;
    background: #F4F4F4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.contentTableWrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.tableWrap {
    background: #f2f2f2;
    margin: 10px 20px 0 20px;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
}
.tableWrap th,
.tableWrap td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.toolbar {
    margin: 0 15px 0 20px;
    display: block;
}
.toolbarElement {
    float: left;
    margin: 0 20px 0 0;
}
.toolbarElement.label {
    margin-top: 18px;
}
.toolbarElement.select {
    margin-top: 12px;
    min-width: 250px;
}
.pullRight {
    float: right;
}
.rightLast {
    margin-right: 0;
}

.overflowedWrap {
    overflow: hidden;
}
.bottomBorder {
    border-bottom: 1px solid #D6D6D6;
}
.inputRow {
    padding: 10px 0;
}

.inputRow:last-child {
    border: none;
}

/* Attributes */
#basicInfoOuterWrap {
    width: 100%;
    background: #F9F9F9;
}

#basicInfoOuterWrap .noSelectedData {
    width: 65%;
    margin: 25px auto 0;
    text-align: center;
    color: #CDCDCD;
}

#basicInfoOuterWrap .multipleSelect {
    width: 65%;
    margin: 25px auto 0;
    text-align: center;
    color: #CDCDCD;
}

#basicInfoOuterWrap .basicInfoInnerWrap {
    padding: 15px 15px 0;
}

#basicInfoOuterWrap .basicInfoWrap {
    overflow: hidden;
}

#basicInfoOuterWrap .basicInfoWrap .arrow {
    width: 18px;
    height: 18px;
    float: left;
    background: red;
    margin-top: 3px;
}

#basicInfoOuterWrap .basicInfoWrap .text {
    float: left;
    margin-left: 15px;
    font-size: 18px;
}

#basicInfoOuterWrap .imageWrap {
    width: 100%;
    height: 220px;
    margin: 5px auto 0;
    border: 1px solid #D7D6D6;
    background-image: url('./images/avatar.png');
    background-repeat: no-repeat;
    background-position: center -15px;
    background-size: 280px;
}

#basicInfoOuterWrap .imageWrap img {
    display: block;
}

#basicInfoOuterWrap .username {
    width: 100%;
    margin: 30px 0;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    color: #E93591;
    font-weight: bold;
}

#basicInfoOuterWrap .rowWrap {
    color: #595959;
    font-size: 14px;
    margin-bottom: 15px;
}

#basicInfoOuterWrap .rowWrap .heading {
    color: #595959;
    font-weight: bold;
    margin-bottom: 2px;
    border-bottom: none;
}

#basicInfoOuterWrap .rowWrap .text {
    margin-top: -5px;
}

#basicInfoOuterWrap a.link {
    width: 100%;
    display: block;
    margin: 35px 0 10px 0;
    background: #F4F4F4;
    border: 1px solid #CCCCCC;
    text-align: center;
    color: #595959;
    padding: 8px 0;
    font-size: 13px;
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#basicInfoOuterWrap a.link:hover {
    text-decoration: none;
}

.selectWrap {
    margin: 25px 0;
}

.paginationWrap {
    height: 30px;
    display: block;
    margin: 10px 20px;
}

/*.activeLink {
    color: #E93591;
    text-decoration: none;
    cursor: pointer;
}

.activeLink:hover {
    text-decoration: underline;
    cursor: pointer;
}*/

@media only screen and (min-device-width: 280px) and (max-device-width:  1365px) {
    .tableWrap table, thead,  th, td, tr { 
        display: block; 
    }

    .tableWrap table {
        border: none !important;
    }

    .tableWrap thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
        border: 1px solid #ccc;
    }
    
    .tableWrap tbody {
        display: table;
        width: 100%;  
    }

    .tableWrap tr { border: 1px solid #ccc; }
    
    .tableWrap td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50% !important; 
    }

    .tableWrap td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    .tableWrap td:before { content: attr(data-title); }

    .actionBarWrap {
        height: auto;
    }
  }

@media only screen and (min-device-width: 280px) and (max-device-width:  429px) {
    .tableWrap { 
        width: 30%;
    }
}

@media only screen and (min-device-width: 430px) and (max-device-width:  589px) {
    .tableWrap { 
        width: 55%;
    }
}

@media only screen and (min-device-width: 590px) and (max-device-width:  699px) {
    .tableWrap { 
        width: 70%;
    }
}

@media only screen and (min-device-width: 700px) and (max-device-width:  800px) {
    .tableWrap { 
        width: 80%;
    }

    .paginationWrap {
        width: 80%;
    }
}