.menu {
    position: absolute;
    padding: 8px 0px;
    background-color: #ffffff;
    outline: 0;
    box-shadow: 0px 1px 2px #CCCBCB;
    z-index: 20;
    list-style-type: none;
}

.menuSeparator {
    height: 1px;
    background-color: #ccd3e0;
}
