/* Photo container styles*/
.photoContainer {
    display: flex;
    flex-direction: column;
}

.photoContainer:first-child {
    margin-bottom: 15px;
}

.photoHeader {
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
}

.photoFooter {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}

/*PhotoPreview styles*/

.photoPreview {
    position: relative;
}

.photoPreview img {
    max-width: 100%;
    max-height: 100%;
}

.photoPreviewActionBtns {
    display: none;
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    color: #909090;
}
/*
.photoPreviewActionBtns .changeBtn {
    background:  inline('./images/change_white.png') center no-repeat;
}
*/
.photoPreviewActionBtns .btnsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-right: 10px;
}

.photoPreview:hover .photoPreviewActionBtns {
    display: flex;
    align-items: center;
}

.photoBtn {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.deleteBtn {
    background: inline('./images/delete_filled.png') center no-repeat;
}

.btnIcon {
    width: 29px;
    height: 29px;
    margin-right: 5px;
}

.changeBtn {
    composes: btnIcon;
    background: inline('./images/change_dark.png') center no-repeat;
}

.cropIcon {
    composes: btnIcon;
    background: inline('./images/crop_grey.png') center no-repeat;
}

/*Popup styles*/
.initialContainer {
    display: flex;
    justify-content: center;
}

/* UploadFileButton and AddFileButton styles */
.uploadFileBtn, .addFileBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.changeFileBtn:hover {
    border: 1px solid #999;
}

.addFileBtn:not(.disabled):hover, .uploadFileBtn:hover {
    background-color: #F9F9F9;
    cursor: pointer;
}

.addFileBtn.disabled {
    cursor: not-allowed;
    color: #CCC;
}

/* Initial view styles */
.menuContainer {
    display: table;
    margin: 0 auto;
}

.menuContainer .menuButton {
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
}

.initialViewContainer .addFileBtn, .initialViewContainer .addFileBtn {
    width: 120px;
    height: 120px;
    border: 1px solid #CCC;
}

/* FilePreview styles*/
.filePreviewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.imageContainer {
    position: relative;
    background-color: black;
    width: 400px;
    height: 400px;
}

.imageCrop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cbc8ce;
}

.imageWrap {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.imageCrop>div:first-of-type {
    position: relative;
    overflow: hidden;
}

.imageCrop>div:nth-of-type(2) {
    position: absolute;
    bottom: 8px;
    left: 245px;
    z-index: 4;
}

.imageCrop>div:first-of-type>div:first-of-type {
    position: absolute;
    border: 2px solid #FFF;
    top:0;
    bottom: 0;
    left:0;
    margin: auto;
    right:0;
    box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
}

.imageCrop>div:first-of-type img {
    position: absolute;
    top:0;
    left: 0;
    transform: translateZ(0);
}

.imageCrop>div:first-of-type>div:nth-of-type(2) {
    position: absolute;
    cursor: move;
    transform: translateZ(0);
}

.preview {
    display: flex;
    justify-content: center;
}

.imageButtonsContainer {
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 25px;
    z-index: 4;
}

.changeFileBtn .addFileBtn, .cropButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.changeFileBtn, .cropButton  {
    flex-direction: row;
    padding: 0 15px 0 10px;
    border: 1px solid #CCC;
    border-radius: 2px;
    cursor: pointer;
}

.cropButton:hover {
    border: 1px solid #999;
}

/*FileDetails styles*/
.fileDetailsContainer {
    display: flex;
    padding: 40px;
}

.iew {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fileDetails {
    width: 400px;
    margin-left:40px;
}

.detailsRow {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #CCC;
}

.detailName {
    font-weight: 700;
    width: 160px;
}

/*Tooltip*/
.tooltipContainer {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background: inline('./images/infoToolTip.png') center no-repeat;
}

.tooltipContainer:hover .tooltip{
    display: block;
}

.tooltip {
    position: absolute;
    display: none;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    line-height: 20px;
    padding: 5px;
    font-weight: normal;
    background-color: #595959;
}

.tooltipText {
    display: inline-block;
    text-transform: none;
    font-size: 12px;
    color: #FFF;
}

.tooltipHandle {
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #595959;
}

.filePreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filePreview.previewBig {
    width: 350px;
    height: 350px;
}

.filePreview.previewSmall {
    width: 350px;
    height: 240px;
}

.filePreview.previewBig img, .filePreview.previewSmall img {
    max-width: 100%;
    max-height: 100%;
}

.originalFilePreview {
    padding: 0 100px;
}

.cameraContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.videoElement {
    max-width: 100%;
    max-height: 100%;
}

/* icons */
.uploadMenuIcon {
    width: 55px;
    height: 40px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.galleryIcon {
    background-image: inline('./images/gallery.png');
}

.addFileBtn:hover .galleryIcon {
    background-image: inline('./images/gallery_hover.png');
}

.takePhotoIcon {
    background-image: inline('./images/photo.png');
}

.addFileBtn:hover .takePhotoIcon {
    background-image: inline('./images/photo_hover.png');
}

.uploadFileIcon {
    background-image: inline('./images/upload_popup.png');
}

.addFileBtn:hover .uploadFileIcon {
    background-image: inline('./images/upload_popup_hover.png');
}

.plusIcon {
    position: relative;
    margin-bottom: 5px;
    width: 18px;
    height: 18px;
}

.plusIcon .verticalLine {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 18px;
    transform: translateX(-50%);
    background-color: #595959;
}

.plusIcon .horizontalLine {
    position: absolute;
    top: 50%;
    width: 18px;
    height: 2px;
    transform: translateY(-50%);
    background-color: #595959;
}

.addFileBtn.disabled .verticalLine, .addFileBtn.disabled .horizontalLine {
    background-color: #CCC;
}

.PreviewItemThumbnail .fileIcon {
    /*display: block;
    width: 230px;
    height: 230px;
    line-height: 230px;
    text-align: center;
    color: #595959;
    font-size: 28px;
    text-transform: uppercase;
    border: 1px solid #D7D6D6;
    background: #F5F5F5;*/
    background: inline('./images/file_popup.png');
    background-size: 33px 39px;
    background-repeat: no-repeat;
    width: 33px;
    height: 39px;
    float: left;
    margin-right: 10px;
}

.PreviewItemThumbnail .fileLabel {
    line-height: 40px;
    display: block;
    float: left;
}
