:root {
    /*colors*/
    --ut-front-react-standardPaginationBackgroundActiveColor: #4096fd;
    --ut-front-react-standardPaginationBackgroundHoverColor: #fff;
    --ut-front-react-standardPaginationTextHoverColor: #2881ec;
    --ut-front-react-standardPaginationTextActiveColor: #fff;
    --ut-front-react-standardPaginationBorderColor: #ccc;
    --ut-front-react-standardPaginationPagesWrapColor: #f2f2f2;
    --ut-front-react-standardPaginationLightColor: #afafaf;
}