/* Common */
@import './default-config.css';
@import 'config.css';

.error {
    border-color: #ff3333 !important;
}

.editedInputStyle {
    background: #fff4a3 !important;
}

/* Dropdown */
.dropdownWrap {
    width: 100%;
    position: relative;
    border: 1px solid #D6D6D6;
    box-sizing: content-box;
}

.dropDownRoot > div :first-child {
    flex-grow: 10;
}

.dropdownWrap div {
    padding: 0 !important;
    margin: 0 !important;
    line-height: 19px !important;
    border: none !important;
    color: #595959 !important;
    text-align: left !important;
}

:global(html[dir='rtl']) .dropdownWrap div {
    text-align: right !important;
}

.dropdownWrap, .dropdownWrap .dropDownRoot {
    height: 21px!important;
}
.dropdownWrap .dropDownRoot {
    width: 100% !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 1px 29px 1px 10px !important;
    display: flex;
}

:global(html[dir='rtl']) .dropDownRoot {
    padding: 1px 10px 1px 29px !important;
}

.dropDownRoot > div:first-child {
    flex-grow: 10;
}
.dropdownIconWrap {
    position: absolute;
    top: 1px;
    right:1px;
    display: flex;
}


:global(html[dir='rtl']) .dropdownIconWrap {
    right:initial;
    left: 1px;
}

.dropdownIconWrap svg,
.dropdownIconBackground svg { /* pass over material ui styling limitations */
    background-color: var(--ut-front-react-standardPaginationBackgroundActiveColor);
    height: 19px !important;
    width: 19px !important;
}
.dropdownMenu {
    display: block !important;
}
.dropdownMenu div {
    font-size: 15px;
    line-height: 32px;
}
.dropdownMenuItemWrap {
    display: flex !important;
    align-items: center;
    min-height: 32px !important;
}
.dropdownMenu {
    display: block !important;
}
.dropdownMenu div {
    font-size: 15px;
    line-height: 32px;
}
.dropdownMenuItemWrap {
    display: flex !important;
    align-items: center;
    min-height: 32px !important;
}
