@import './default-config.css';
@import 'config.css';

.statusBubble {
    color: #fff;
    padding: 0 8px;
    border-radius: 3px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 700;
}
.statusNeutralOutlined {
    border: 1px solid var(--ut-front-react-statusBubbleNeutralColor);
    color: var(--ut-front-react-statusBubbleNeutralColor);
}
.statusNeutralFilled {
    background: var(--ut-front-react-statusBubbleNeutralColor);;
}

.statusGreenOutlined {
    border: 1px solid var(--ut-front-react-statusBubbleGreenColor);
    color: var(--ut-front-react-statusBubbleGreenColor);
}
.statusGreenFilled {
    background: var(--ut-front-react-statusBubbleGreenColor);
}

.statusRedOutlined{
    border: 1px solid var(--ut-front-react-statusBubbleRedColor);
    color: var(--ut-front-react-statusBubbleRedColor);
}
.statusRedFilled {
    background: var(--ut-front-react-statusBubbleRedColor);
}

.statusOrangeOutlined{
    border: 1px solid var(--ut-front-react-statusBubbleOrangeColor);
    color: var(--ut-front-react-statusBubbleOrangeColor);
}
.statusOrangeFilled {
    background: var(--ut-front-react-statusBubbleOrangeColor);
}

.statusBlueOutlined{
    border: 1px solid var(--ut-front-react-statusBubbleBlueColor);
    color: var(--ut-front-react-statusBubbleBlueColor);
}
.statusBlueFilled {
    background: var(--ut-front-react-statusBubbleBlueColor);
}

