@import 'config.css';

.treeStructureWrap {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.treeStructureWrap .treeWrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.clearButton {
    width: calc(100% - 20px); /* reduce with width with the side margins*/
    margin: 0px 10px 15px 10px;
    cursor: pointer;
}
