.treeStructureWrap {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.treeStructureWrap .treeWrap {
    width: 100%;
    /* height, margin-top are set with js */
    position: relative;
}

.clearButton {
    width: 90%;
    margin: 20px 5% 10px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
