.collapsableContentContainer {
	position: relative;
}

.collapsableContentContainer .heading {
    position: relative;
    padding: 3px 0 3px 0px;
    color: #7B7B7B;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.collapsableContentContainer .heading .textWrap {
    display: inline-block;
}

.collapsableContentContainer .heading .toolTipWrap {
    display: inline-block;
    margin-left: 4px;
}

.collapsableContentContainer .headingLeftArrow {
    padding-left: 8px !important;
}

.collapsableContentContainer .headingRightArrow {
    padding-left: 25px !important;
}

.collapsableContentContainer .collapseArrowWrap {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 7px;
    cursor: pointer;
    background-image: url('./images/collapsable.png');
    background-repeat: no-repeat;
}

.collapsableContentContainer .leftArrow {
    right: 8px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.collapsableContentContainer .rightArrow {
    left: 5px;
}

.collapsableContentContainer .collapsedArrowWrap {
    width: 13px !important;
    margin: 0 auto;
    cursor: pointer;
}

.collapsableContentContainer .collapsedArrowWrap img {
    width: 100%;
}

.collapsableContentContainer .collapsedrightArrow {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.collapsableContentContainer .childWrap {
    margin-top: 15px;
    height: calc(100% - 15px);
}

.collapsableContentContainer .childWrap>div { /* This fix is for backwards compatibility */
    height: 100%;
}
