:root {
    /*colors*/
    --ut-front-react-standardBusinessUnitsTreeLinkActiveColor: #2881ec;
    --ut-front-react-standardBusinessUnitsTreeBorderColor: #d7d6d6;
    --ut-front-react-standardBusinessUnitsTreeBackgroundWhiteColor: #fff;
    --ut-front-react-standardBusinessUnitsTreeBackgroundColor: #a6a6a6;
}