.headerContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 59px;
  border-bottom: 1px solid #CCCBCB;
  background-color: white;
  box-shadow: 0px 2px 3px 0px rgba(222, 222, 222, 1);
  z-index: 20;
  cursor: default;
}

.headerTitle {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
}

.headerLogoContainer {
  display: flex;
  align-items: center;
  width: 15%;
  min-width: 220px;
}

.headerLogoContainer a {
  /* centers logo vertically */
  display: flex;
}

.headerLogo {
  display: inline-block;
  flex-shrink: 0;
  width: 58px;
  height: 58px;
  background: inline('logo.png') no-repeat center center;
  cursor: pointer;
}

.tabsContainer {
  display: flex;
  align-items: center;
  width: 75%;
}

.profileContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 10%;
  min-width: 150px;
}

.personalInfoName {
  margin-right: 10px;
  width: 80px;
  color: #565656;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profileInfoContainer {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.avatarContainer {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: inline('profile_picture.png') no-repeat center center;
  cursor: pointer;
}

.avatarInfoArrow {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 10px 0 5px;
  background: inline('arrow_black_base.png') no-repeat center center;
  cursor: pointer;
}

.profileInfoMenu {
  position: absolute;
  top: 60px;
  right: 0;
  width: 330px;
  height: 190px;
  background: grey;
  z-index: 999;
}

.tabContainer {
  display: inline-block;
}

body .profileInfoPopoverMenu {
  padding: 0;
  min-width: 110px;
}
