@import './default-config.css';
@import 'config.css';

.headerContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 59px;
  border-bottom: 1px solid #CCCBCB;
  background: var(--ut-front-react-standardMainNavigationBackground);
  color: var(--ut-front-react-standardMainNavigationTextColor);
  box-shadow: 0px 2px 3px 0px rgba(222, 222, 222, 1);
  z-index: 20;
  cursor: default;
}

.headerTitle {
  padding-left: 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
}

.headerLogoContainer {
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-left: 10px;
}

.headerLogoContainer a {
  /* centers logo vertically */
  display: flex;
}

.headerLogo {
  display: inline-block;
  flex-shrink: 0;
  width: var(--ut-front-react-standardMainLogoWidth);
  height: 36px !important;
  background: inline('logo.png') no-repeat center center;
  background-size: contain;
  cursor: pointer;
}

.tabsContainer {
  display: flex;
  align-items: center;
}

.profileContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
}

.profileInfo {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.profileInfoContainer {
  display: flex;
  align-items: center;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  height: 100%;
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: var(--ut-front-react-standardAvatarBackgroundColor);
  color: var(--ut-front-react-standardAvatarColor);
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.avatarInfoArrow {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 10px 0 5px;
  background: inline('arrow_black_base.png') no-repeat center center;
  cursor: pointer;
}

.profileInfoMenu {
  position: absolute;
  top: 60px;
  right: 0;
  width: 330px;
  height: 190px;
  background: grey;
  z-index: 999;
}

.tabContainer {
  display: inline-block;
}

body .profileInfoPopoverMenu {
  padding: 0;
  min-width: 110px;
}
