/* button default colors and configuration*/
:root {
    /*colors*/
    --ut-front-react-standardBtnBgColor: #4096fd;
    --ut-front-react-standardBtnHoverColor: #4f9efc;
    --ut-front-react-standardBtnActiveColor: #3d8dee;
    --ut-front-react-standardBtnTextColor: #FFFFFF;

    /* config */
    --ut-front-react-standardBtnWidth: 146px;
    --ut-front-react-standardBtnHeight: 46px;
    --ut-front-react-standardBtnTransform: uppercase;
    --ut-front-react-standardBtnFontSize: 14px;
    --ut-front-react-standardBtnBorder: none;
    --ut-front-react-standardBtnBorderRadius: 2px;
    --ut-front-react-standardBtnOutline: 1px dotted var(--ut-standardBtnOutlineColor);
    --ut-front-react-smallBtnPadding: 8px 10px;
    --ut-front-react-smallBtnFontSize: 11px;
    --ut-front-react-smallBtnLineHeight: 11px;
    --ut-front-react-loginButtonWidth: 315px;
    --ut-front-react-loginButtonHeight: 50px;
}
