/* button default colors and configuration*/
:root {
    /*colors*/
    --ut-front-react-standardBtnBgColor: #4096fd;
    --ut-front-react-standardBtnHoverColor: #4f9efc;
    --ut-front-react-standardBtnActiveColor: #3d8dee;
    --ut-front-react-standardBtnTextColor: #FFFFFF;
    --ut-front-react-defaultBtnColor: #444444;
    --ut-front-react-defaultBtnBgColor: #f4f4f4;
    --ut-front-react-defaultBtnBorderColor: #dcdcdc;
    --ut-front-react-defaultBtnBorderColorHover: #999999;
    --ut-front-react-defaultBtnBackgroundColorHover: #f4f4f4;
    --ut-front-react-defaultBtnBackgroundColorActive: #ececec;
    --ut-front-react-defaultDarkBgBtnColor: #444444;
    --ut-front-react-defaultDarkBgBtnBgColor: #ffffff;
    --ut-front-react-defaultDarkBgBtnBorderColor: #cccccc;
    --ut-front-react-defaultDarkBgBtnBorderColorHover: #999999;
    --ut-front-react-defaultDarkBgBtnColorHover: #000000;
    --ut-front-react-defaultDarkBgBtnColorActive: #000000;
    --ut-front-react-defaultDarkBgBtnBorderColorActive: #999999;
    --ut-front-react-defaultDarkBgBtnBgColorActive: #fafafa;
    --ut-front-react-disabledBtnBackgroundColor: #cbc8ce;

    /* config */
    --ut-front-react-standardBtnWidth: 146px;
    --ut-front-react-standardBtnHeight: 46px;
    --ut-front-react-standardBtnFontSize: 14px;
    --ut-front-react-standardBtnBorder: none;
    --ut-front-react-standardBtnBorderRadius: 2px;
    --ut-front-react-standardBtnOutline: 1px dotted var(--ut-standardBtnOutlineColor);
    --ut-front-react-smallBtnPadding: 8px 10px;
    --ut-front-react-smallBtnFontSize: 11px;
    --ut-front-react-smallBtnLineHeight: 11px;
    --ut-front-react-loginButtonWidth: 315px;
    --ut-front-react-loginButtonHeight: 50px;
    --ut-front-react-loginBtnMarginBottom: 65px;
    --ut-front-react-defaultBtnHeight: 30px;
    --ut-front-react-defaultBtnBorderRadius: 5px;
    --ut-front-react-defaultBtnPadding: 4px 20px;
}
