/* in order to have theming first import the default component config and then the implementation config to override the variables*/
@import './default-config.css';
/* implementation config; in every implementation the file must be named exactly config.css in order for the theming to work */
@import 'config.css';

.standardBtn {
    width: var(--ut-front-react-standardBtnWidth);
    height: var(--ut-front-react-standardBtnHeight);
    border: var(--ut-front-react-standardBtnBorder);
    border-radius: var(--ut-front-react-standardBtnBorderRadius);
    color: var(--ut-front-react-standardBtnFontColor);
    background-color: var(--ut-front-react-standardBtnBgColor);
    font-family: OpenSans;
    font-size: var(--ut-front-react-standardBtnFontSize);
    font-weight: 600;
    text-transform: var(--ut-front-react-standardBtnTransform);
}

.standardBtn:focus {
    outline: var(--ut-front-react-standardBtnOutline);
    outline: 5px auto -webkit-focus-ring-color;
}

.standardBtn:hover {
    background-color: var(--ut-front-react-standardBtnHoverBgColor);
}
.connectBtn {
    background-color: var(--ut-front-react-connectBtnBgColor);
}

.connectBtn:hover {
    background-color: var(--ut-front-react-connectBtnHoverBgColor);
}

.standardBtn:disabled,.standardBtn:disabled:hover {
    background-color: var(--ut-standardBtnDisabledBgColor);
    cursor: pointer;
}

.smallBtn {
    padding: var(--ut-smallBtnPadding);
    font-size: var(--ut-smallBtnFontSize);
    line-height: var(--ut-smallBtnLineHeight);
}

.fullWidthBtn {
    width: 100%;
}

.loginBtn {
    composes: connectBtn fullWidthBtn;
    margin-bottom: 60px;
}
.defaultBtn {
    width: auto;
    font-size: 14px;
    border-radius: var(--ut-front-react-defaultBtnBorderRadius);
    color: var(--ut-front-react-defaultBtnColor);
    background-color: var(--ut-front-react-defaultBtnBgColor);
    border: 1px solid var(--ut-front-react-defaultBtnBorderColor);
    padding: var(--ut-front-react-defaultBtnPadding);
    height: var(--ut-front-react-defaultBtnHeight);
    font-weight: normal;
    text-transform: none;
    outline: 0;
}
.defaultBtn:hover {
    border-color: var(--ut-front-react-defaultBtnBorderColorHover);
    background-color: var(--ut-front-react-defaultBtnBackgroundColorHover);
}
.defaultBtn:active {
    background-color: var(--ut-front-react-defaultBtnBackgroundColorActive);
}
