/* in order to have theming first import the default component config and then the implementation config to override the variables*/
@import './default-config.css';
/* implementation config; in every implementation the file must be named exactly config.css in order for the theming to work */
@import 'config.css';

.button {
    border: var(--ut-front-react-standardBtnBorder);
    border-radius: var(--ut-front-react-standardBtnBorderRadius);
    font-family: OpenSans;
    font-size: var(--ut-front-react-standardBtnFontSize);
    font-weight: 600;
    text-transform: var(--ut-front-react-standardBtnTransform);
}

.standardBtn {
    composes: button;
    width: var(--ut-front-react-loginButtonWidth);
    height: var(--ut-front-react-loginButtonHeight);
    margin-bottom: 60px;
    background-color: var(--ut-front-react-standardBtnBgColor);
    color: var(--ut-front-react-standardBtnTextColor);
}

.standardBtn:hover {
    background-color: var(--ut-front-react-standardBtnHoverColor);
}

.standardBtn:active {
    background-color: var(--ut-front-react-standardBtnActiveColor);
}
