    /* in order to have theming first import the default component config and then the implementation config to override the variables*/
@import './default-config.css';
/* implementation config; in every implementation the file must be named exactly config.css in order for the theming to work */
@import 'config.css';

.button {
    border: var(--ut-front-react-standardBtnBorder);
    border-radius: var(--ut-front-react-standardBtnBorderRadius);
    font-family: OpenSans;
    font-size: var(--ut-front-react-standardBtnFontSize);
    font-weight: 500;
    outline: 0;
}

.standardBtn {
    composes: button;
    width: var(--ut-front-react-loginButtonWidth);
    height: var(--ut-front-react-loginButtonHeight);
    background-color: var(--ut-front-react-standardBtnBgColor);
    color: var(--ut-front-react-standardBtnTextColor);
}

.standardBtn:hover {
    outline: 0;
    background-color: var(--ut-front-react-standardBtnHoverColor);
}

.standardBtn:focus {
    outline: 0;
}

.standardBtn:active {
    outline: 0;
    background-color: var(--ut-front-react-standardBtnActiveColor);
}

.loginBtn {
    font-size: 14px;
    width: 100%;
}

.disabledBtn,
.disabledBtn:hover,
..disabledBtn:active {
    background-color: var(--ut-front-react-disabledBtnBackgroundColor);
    cursor: not-allowed;
}

.defaultBtn {
    width: auto;
    font-size: 14px;
    border-radius: var(--ut-front-react-defaultBtnBorderRadius);
    color: var(--ut-front-react-defaultBtnColor);
    background-color: var(--ut-front-react-defaultBtnBgColor);
    border: 1px solid var(--ut-front-react-defaultBtnBorderColor);
    padding: var(--ut-front-react-defaultBtnPadding);
    height: var(--ut-front-react-defaultBtnHeight);
    font-weight: normal;
    text-transform: none;
    outline: 0;
}
.defaultBtn:hover {
    border-color: var(--ut-front-react-defaultBtnBorderColorHover);
    background-color: var(--ut-front-react-defaultBtnBackgroundColorHover);
}
.defaultBtn:active {
    background-color: var(--ut-front-react-defaultBtnBackgroundColorActive);
}

.defaultDarkBgBtn {
    width: auto;
    font-size: 14px;
    border-radius: var(--ut-front-react-defaultBtnBorderRadius);
    color: var(--ut-front-react-defaultDarkBgBtnColor);
    background-color: var(--ut-front-react-defaultDarkBgBtnBgColor);
    border: 1px solid var(--ut-front-react-defaultDarkBgBtnBorderColor);
    padding: var(--ut-front-react-defaultBtnPadding);
    height: var(--ut-front-react-defaultBtnHeight);
    font-weight: normal;
    text-transform: none;
    outline: 0;
}

.defaultDarkBgBtn:hover {
    border-color: var(--ut-front-react-defaultDarkBgBtnBorderColorHover);
    color: var(--ut-front-react-defaultDarkBgBtnColorHover);
}

.defaultDarkBgBtn:active {
    color: var(--ut-front-react-defaultDarkBgBtnColorActive);
    background-color: var(--ut-front-react-defaultDarkBgBtnBgColorActive);
    border-color: var(--ut-front-react-defaultDarkBgBtnBorderColorActive);
}

.standardInputButton {
    width: 60px;
    height: 32px;
    position: absolute;
    right: 0;
    bottom: -1px;
    float: right;
}

.smallBtn {
    width: 30px;
    height: 30px;
}

.actionBtn {
    box-sizing: border-box;
    margin-left: 15px;
    padding: 5px 20px;
    background: var(--ut-front-react-defaultBtnBgColor);
    border: 1px solid var(--ut-front-react-defaultBtnBgColor);
    outline: 0;
    font-size: 14px;
}

.actionBtn:hover, .actionBtn.primary {
    border: 1px solid var(--ut-front-react-defaultDarkBgBtnBorderColor);
    border-radius: 2px;
    background-color: var(--ut-front-react-defaultDarkBgBtnBgColor);
}

.actionBtn.primary:hover {
    border-color: var(--ut-front-react-defaultBtnBorderColorHover);
    background-color: var(--ut-front-react-defaultBtnBackgroundColorHover);
}

.secondaryButton {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: var(--ut-front-react-defaultBtnBgColor);
    border: 1px solid var(--ut-front-react-defaultBtnBorderColor);
    color: var(--ut-front-react-defaultBtnColor) !important;
    text-transform: none;
    padding: 4px 20px;
    font-size: 1em;
    border-radius: 4px;
    height: 30px;
    user-select: none;
    margin: 0;
}

.secondaryButton:focus {
  outline: 0;
}

.secondaryButton:hover {
    border-color: var(--ut-front-react-defaultBtnBorderColorHover);
    color: var(--ut-front-react-defaultDarkBgBtnColorHover);
    outline: 0;
}

.disabledsecondaryButton {
    cursor: not-allowed;
    opacity: 0.65;
}

.disabledsecondaryButton:hover {
    background-color: var(--ut-front-react-defaultBtnBackgroundColorHover);
    border: 1px solid var(--ut-front-react-defaultBtnBorderColor);
    outline: 0;
    cursor: not-allowed;
}
