@import './default-config.css';
@import 'config.css';

a.navigationTab, span.navigationTab {
  display: flex;
  justify-content: space-between;
  color: var(--ut-front-react-standardMainNavigationTextColor);
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
}

a.navigationTab.menuItemTab, span.navigationTab.menuItemTab {
  color: var(--ut-front-react-standardTabMenuTextColor);
}

a.navigationTab.menuItemTab:hover, span.navigationTab.menuItemTab:hover {
  color: var(--ut-front-react-standardMainNavigationTextHoverColor);
}

.navigationTab:hover,
.navigationTab:focus {
  color: var(--ut-front-react-standardMainNavigationTextHoverColor);
  text-decoration: none;
  outline: 0;
}

a.navigationTab.navigationTabDisabled, span.navigationTab.navigationTabDisabled {
  color: #e6e6e6;
  cursor: not-allowed;;
}

a.navigationTabActive, span.navigationTabActive {
}

a.navigationTabActive:hover, span.navigationTabActive:hover {
  color: var(--ut-front-react-standardMainNavigationTextHoverColor);
}
a.navigationTabActive:focus, span.navigationTabActive:focus {
  color: var(--ut-front-react-standardMainNavigationTextColor);
  text-decoration: none;
}

.navigationMultiTab {
  position: relative;
}

span.navigationMultiTabArrow {
  background: url('./images/arrow_right.png') no-repeat right center;
  width: 20px;
  height: 20px;
}

.multiTabMenu {
  min-width: 100px;
}
