a.navigationTab {
  display: block;
  color: #373a3c;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
}

.navigationTab:hover,
.navigationTab:focus {
  color: #595959;
  text-decoration: none;
  outline: 0;
}

a.navigationTab.navigationTabDisabled {
  color: #e6e6e6;
  cursor: not-allowed;;
}

a.navigationTabActive,
a.navigationTabActive:hover,
a.navigationTabActive:focus {
  color: #2281ec;
  text-decoration: none;
}

.navigationMultiTab {
  position: relative;
}

.multiTabMenu {
  min-width: 100px;
}
