#mainContentWrap {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    /*border: 1px solid #D7D6D6;*/
    border-top: none;
	border-bottom: none !important;
}

.resizibleCell {
    border: none !important;
    position: relative;
}

#mainContentWrap .profileInfoWrap {
    border-left: 1px solid #D7D6D6;
}

#mainContentWrap .treeStructureWrap {
    border-right: 1px solid #D7D6D6;
    height: 100%;
}
#mainContentWrap .treeStructureWrap .selectWrap {
    margin: 25px 0;
}

.buttonsWrap {
    padding-top: 10px;
    margin-left: 60px; /* Margin between buttons and the heading */
}
.buttonsContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.buttonWrap {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
}
.buttonWrap:last-child {
    margin-right: 0;
}

.headerWrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 71px;
}

.heading {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;     
}

.headingTextWrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
} 

.h100pr {
    height: 100%;
}

.w100pr {
    width: 100%;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 360px) {
    .headerWrapper {
        flex-direction: column;
        display: flex;
        height: auto;
        align-items: center;
    }
    .buttonsWrap {
        margin-left: 0px; /* Margin between buttons and the heading */
    }

    .headingTextWrap {
        font-size: medium;
    } 
  }

@media only screen and (min-device-width: 361px) and (max-device-width: 767px) {
    .headerWrapper {
        flex-direction: column;
        display: flex;
        height: auto;
        align-items: center;
    }
    .buttonsWrap {
        margin-left: 0px; /* Margin between buttons and the heading */
    }

    .headingTextWrap {
        font-size: large;
    } 
  }
