@import './default-config.css';
@import 'config.css';

.titledContentWrap {
    width: 100%;
    /*min-width: 540px;*/
    border: 1px solid var(--ut-front-react-standardTitledContentBoxBorderColor);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.headerWrap {
    width: 100%;
    padding: 13px 3%;
    display: block;
    border-bottom: 1px solid var(--ut-front-react-standardTitledContentBoxBorderColor);
    background: var(--ut-front-react-standardTitledContentBoxHeaderBackgroundColor);
    overflow: hidden;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--ut-front-react-standardTitledContentBoxTextColor);
    float: left;
}

.titleCentered {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--ut-front-react-standardTitledContentBoxTextColor);
    text-align: center;
}

.rightWrap {
    float: right;
}

.contentWrap {
    padding: 0 3%;
    background: var(--ut-front-react-standardTitledContentBoxBackgroundColor);
}
