:root {
    /*colors*/
    --ut-front-react-standardTitledContentBoxStandardBorderColor: #d6d6d6;
    --ut-front-react-standardTitledContentBoxStandardTextColor: #595959;
    --ut-front-react-standardTitledContentBoxStandardHeaderBackgroundColor: #f9f9f9;
    --ut-front-react-standardTitledContentBoxStandardBackgroundColor: #fff;
    --ut-front-react-standardTitledContentBoxStandardHeaderButtonColor: #2281ec;
}